<div class="custom-banner-section page-width">

  <div>
    <img src={{  }}  alt="img_1"/>

    <div class="text-section">
      <p>Supplying your child with the prettiest, coziest clothes possible at the most affordable prices.</p>
      <div class="banner_btn">
        <a href=""><button>2023 Collection</button></a>
        <a href=""><button>Shop Now {% render 'btn_icon.svg' %} </button></a>
      </div>
    </div>
  </div>
  
</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}